<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="Belt Test" Manufacturer="Deployment Dojo" Version="$(Version)" UpgradeCode="9125c05c-19a7-487a-9d42-c669f4d89f8a">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<Property Id="ARPPRODUCTICON" Value="logo.exe" />
		
		<Feature Id="Main">
			<ComponentGroupRef Id="ConsoleAppComponents" />
			<ComponentGroupRef Id="WinFormsAppComponents" />
		</Feature>
	</Package>
</Wix>
